html, body {
    margin: 0px;
    padding: 0px;
}
body {
	font-family: "Nexa Light","Open Sans",Helvetica,"Segoe UI",Georgia,Arial,sans-serif;
	font-size: 12px;
	background: #ebebeb;
}
ul {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
a {
	outline: none;
}
input[type="text"]::-webkit-input-placeholder, input[type="text"]::-moz-placeholder {
	color: #959595;
	font-family: "Nexa Bold";
}  
.header {
	width: 100%;
	height: 67px;
	background: #373737;
}
.nav {
	width: 1262px;
	height: 69px;
	background: #474747;
	float: right;
}
.wrapper {
	margin: 0 auto;
	width: 940px;
}
.wrapper_nav {
	width: 940px;
}
.social {
	position: relative;
}
.search {
	width: 300px;
	height: 46px;
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	position: relative;
	margin: 15px 11px 15px 0;
	float: left;
}
.search .in {
	width: 230px;
	height: 99%;
	position: absolute;
  	color: #959595;
  	padding: 0 0 0 20px;
}
.search .but {
	width: 23px;
	height: 23px;
	background: url(../img/clock.png);
	position: absolute;
	top: 12px;
	right: 13px;
	cursor: pointer;
}
.findy {
	width: 140px;
	height: 46px;
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	position: relative;
	margin: 15px 11px 15px 0;
	float: left;
}
.findy .in {
	width: 60px;
	height: 96%;
	position: absolute;
  	color: #959595;
}
.findy img {
	padding: 14px 10px 14px 16px;
}
.findy .but {
	width: 43px;
	height: 46px;
	background: url(../img/str.png);
	position: absolute;
	right: 0px;
	cursor: pointer;
}
.social_web {
	position: relative;
	float: right;
}
.social_web_menu li {
	list-style: none;
	display: inline-block;
	padding: 30px 0 30px 30px;
}
.social_web a {
	text-decoration: none;
	color: #959595;
}
.social_web span {
	padding-left: 5px
}
.general {
	border: none;
	font-weight: bold;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
}
.logo_first {
	width: 69px;
	height: 67px;
	background: url(../img/logo_first.png) no-repeat;
	margin-left: 27px;
	position: absolute;
}
.logo {
	width: 80px;
	height: 67px;
	background: #f26c4f;
	position: absolute;
}
.logo p {
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-family: "Nexa Bold";
	font-size: 38px;
}
.title {
	color: #fff;
	font-size: 23px;
    font-family: "Nexa Light";
	margin-left: 100px;
	padding: 17px 10px;
}
.newsletter {
	width: 179px;
	height: 36px;
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	position: relative;
	margin: 15px 11px 15px 0;
	float: right;
}
.newsletter .in {
	width: 100px;
	height: 95%;
	position: absolute;
  	color: #959595;
}
.newsletter .but, .contact .but {
	width: 36px;
	height: 36px;
	border-left: 1px solid #d8d8d8;
	background: url(../img/str_light.png);
	position: absolute;
	right: 0px;
	cursor: pointer;
}
.newsletter img {
	padding: 9px 15px;
}
.main_title {
	width: 230px;
	float: left;
}
.contact {
	width: 145px;
	height: 36px;
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	position: relative;
	margin: 15px 0;
	float: right;
}
.contact .in {
	width: 70px;
	height: 95%;
	position: absolute;
  	color: #959595;
}
.contact img {
	padding: 10px;
	width: 11%;
}
.map {
	margin:25px 35px;
    float: left;
}
.menu li {
	list-style: none;
	display: inline-block;
	border-left: 1px solid #767676;
	padding-left: 20px;
	padding-right: 25px;
}
.menu li:first-child {
	border: none;
}
.menu li a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.menu li .active {
	border-bottom: 4px solid #f26c4f;
	padding-bottom: 20px;
}
.box_menu_left {
	float: left;
	padding: 30px 0;
}
.box_menu_right {
	float: right;
	padding: 16px 0;
}
.box_menu_right .menu li img {
	padding: 4px 15px;
}
.box_menu_right .menu li {
	padding-right: 0;
}
.box_menu_right .menu li:last-child {
	border-right: 1px solid #767676;
}
.quick {
	color: #d5d5d5 !important;
}
.content {
	position: relative;
}
.feature {
	background: #f26c4f;
	width: 630px;
	height: 390px;
	position: relative;
	float: left;
	border-right: 8px solid #f26c4f;
	z-index: 1;
}
.info_feature {
	background: #373737;
	width: 302px;
	height: 390px;
	position: relative;
	float: right;
}
.description_feature {
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	position: absolute;
	width: 350px;
  	height: 62px;
  	bottom: 1px;
  	right: 0px;
}
.description_feature p {
	font-size: 15px;
	color: #fff;
	padding: 22px 0 22px 30px;
}
.str {
	width: 32px;
	height: 31px;
	position: absolute;
	left: -17px;
	top: 40px;
}
.str img {
	width: 100%;
}
.info_feature .title_info_feature {
	font-size: 19px;
	color: #fff;
	padding: 40px 38px 0 38px;
}
.description_info_feature {
  font-family: "Arial";
  color: rgb(167, 167, 167);
  line-height: 1.917;
  padding: 28px 38px 0 38px;
}
.add_info {
	position: relative;
	padding: 25px 46px 0 38px;
}
.add_info .plus {
  font-size: 34px;
  color: #fff;
  text-decoration: none;
  float: left;
  line-height: 0.6;
  font-family: "Nexa Bold";
}
.add_info img {
	padding-right: 6px;
	float: right;
}
.add_info p {
  font-family: "Arial";
  color: rgb(167, 167, 167);
  float: right;
}
.str_left {
	width: 32px;
	height: 33px;
	background: #535353;
	float: left;
}
.str_right {
	width: 32px;
	height: 33px;
	background: #474747;
	float: left;
}
.box_str {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.str_left p, .str_right p {
	color: #fff;
	font-family: "Quicksand";
	font-size: 20px;
	text-align: center;
	padding-top: 4px;
}
.gallery {
	padding-top: 15px;
}
.articles {
	width: 300px;
	height: 379px;
	background: #fff;
  	box-shadow: 0.5px 0.866px 0px 0px rgba(211, 211, 211, 0.004);
  	float: left;
  	margin-right: 20px;
  	margin-top: 15px;
}
.last {
	margin-right: 0px;
}
.im1 {
	background: url(../img/image1.png);
}
.im2 {
	background: url(../img/image2.png);
}
.im3 {
	background: url(../img/image3.png);
	background-position: 100% 100% !important;
}
.foto {
	width: 300px;
	height: 188px;
	background-position: 50% 100%;
	position: relative;
	overflow: hidden;
}
.foto img {
	width: 100%;
}
.articles_title {
	font-size: 24px;
	color: #4f4f4f;
	font-weight: bold;
	line-height: 1.24;
	padding: 24px 20px 24px 28px;
}
.articles_discription {
	font-size: 12px;
  	font-family: "Arial";
  	color: rgb(100, 100, 100);
    line-height: 2;
    padding: 0 20px 24px 28px;
}
.angle {
	position: absolute;
	right: -95px;
	top: -100px;
}
.plus_angle {
	position: absolute;
	left: 83px;
	bottom: 63px;
}
.plus_angle a {
	color: #fff;
	font-size: 35px;
	text-decoration: none;
}
.content_list {
	width: 618px;
	height: 173px;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	background: #fff;
	float: left;
	margin-top: 20px;
	border-left: 4px solid #f26c4f;
}
.content_list .goodinc {
	font-size: 23px;
	color: rgb(71, 71, 71);
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
    padding: 35px 0 10px 35px;
}
.content_list p {
	padding: 10px 35px 0 35px;
	font-size: 14px;
    color: rgb(112, 112, 112);
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
}
.comment {
	padding: 0 35px;
}
.comment li {
	list-style: none;
	display: inline-block;
	border-left: 1px solid rgb(143, 143, 143);
	padding-left: 20px;
	padding-right: 25px;
	color: rgb(143, 143, 143);
	font-style: italic;
	font-size: 11px;
	line-height: 2.1;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
}
.comment li:first-child {
	border: none;
	padding-left: 0px;
}
.star {
	width: 53px;
	height: 14px;
	background: url(../img/star.png) repeat-x;
	display: inline-block;
	margin-right: 13px;
}
.red {
	background: #f26c4f;
	border-left: 4px solid #ce4e32;
}
.red_active {
	color: #fff !important;
}
.red_active li{
	color: #fff;
	border-left: 1px solid #fff;
}
.white {
	width: 45px;
	margin-right: 22px;
	background: url(../img/star_white.png) repeat-x;
}
.content_list.small {
	height: 98px;
	border-left: 4px solid #8f8f8f;
}
.content_list.small .goodinc {
	font-size: 24px;
	padding: 25px 0 5px 35px;
}
.content_list.small .comment li, .content_list.mini .comment li {
	line-height: 1.2;
	border-right: 1px solid rgb(143, 143, 143);
	padding-left: 13px;
	padding-right: 13px;
}
.content_list.small .comment li:first-child, .content_list.mini .comment li:first-child {
	border-right: none;
	padding-left: 0px;
}
.content_list.small .comment li:last-child, .content_list.mini .comment li:last-child {
	padding-right: 16px;
} 
.content_list.mini.active {
	border-left: 4px solid #8f8f8f;
	margin-top: 8px;
}
.content_list.mini {
	height: 76px;
	border-left: 4px solid #8f8f8f;
	margin-top: 5px;
	border-left: 4px solid #d9d9d9;
}
.content_list.mini .goodinc {
	font-size: 18px;
	padding: 13px 0 5px 35px;
}
.side_feature {
	width: 300px;
    height: 581px;
    float: right;
    background-color: rgb(55, 55, 55);
    box-shadow: 0.5px 0.866px 0px 0px rgba(211, 211, 211, 0.004);
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.side_foto {
	width: 330px;
	height: 295px;
	background: url(../img/image4.png);
	background-position: 100% 100%;
}
.side_description {
	padding: 0 20px 24px 28px;
	color: #fff;
}
.resent_posts {
	width: 300px;
    height: 180px;
    float: right;
    margin-top: 20px;
    position: relative;
}
.resent_posts .title_info {
	font-size: 18px;
	color: #474747;
	font-weight: 600;
	padding: 13px 0 0 15px;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
	line-height: 1.263;
}
.resent_posts .title_info.noadd {
	padding-top: 0px;
}
.posts_description {
	padding: 22px 0 10px 15px;
	color: rgb(167, 167, 167);
	line-height: 1.917;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
}
.resent_posts .plus {
  font-size: 34px;
  color: #8f8f8f;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 12px;
  float: left;
  line-height: 0.6;
  font-family: "Nexa Bold";
}
.resent_posts .data {
	padding-left: 15px;
	color: rgb(143, 143, 143);
	font-style: italic;
	font-size: 11px;
	line-height: 2.1;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
}
.resent_posts .border {
	width: 285px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid #d9d9d9;
  	border-bottom: 1px solid #f5f5f5;
}
.read_more {
	width: 618px;
	height: 110px;
	float: left;
}
.read_more p {
	font-size: 14px;
	color: rgb(189, 189, 189);
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
    padding-top: 30px;
    padding-bottom: 10px;
}
.img_plus {
	display: block;
	width: 19px;
  	height: 19px;
  	background: url(../img/img_plus.png) no-repeat;
  	margin: 0 auto;
}
.filter_bar {
	width: 620px;
    height: 51px;
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	float: left;
}
.filter_bar .list {
	padding: 12px 28px;
}
.filter_bar .list li {
	display: inline-block;
	list-style: none;
	padding-right: 10px;
	border-right: 1px solid #ebebeb;
	line-height: 1;
}
.filter_bar .list .active a {
	color: #f26c4f;
	padding-right: 10px;
	padding-left: 15px;
}
.filter_bar .list li a {
	color: rgb(186, 186, 186);
    font-weight: bold;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
    text-decoration: none;
}
.filter_bar .list li a img {
	padding: 0 10px;
}
.text_box1 {
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	width: 620px;
    height: 335px;
    float: left;
    margin-top: 25px;
}
.likes {
	background-color: rgb(239, 239, 239);
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.1);
	width: 620px;
    height: 41px;
    float: left;
}
.text_box1 .add, .text_box3 .add{
	background: #cacaca;
	position: absolute;
	width: 30px;
	height: 30px;
}
.text_box1 .add a, .text_box3 .add a {
	color: #fff;
	font-size: 26px;
	text-decoration: none;
	padding-left: 8px;
}
.text_box1 .text {
	margin: 30px 10px 30px 50px;
}
.text_box1 .text .box_title, .text_box2 .text .box_title, .text_box3 .text3 .box_title {
	font-size: 30px;
	color: rgb(112, 112, 112);
    font-weight: bold;
}
.text_info {
	font-size: 14px;
	color: rgb(112, 112, 112);
    font-weight: bold;
    line-height: 1.786;
    margin-top: 27px;
}
.text_info.check {
	margin-top: 0px;
}
.text_info.check span {
	color: #f26c4f;
}
.text_info_description {
	font-family: "Arial";
	line-height: 1.833;
	color: rgb(150, 150, 150);
    margin-top: 30px;
}
.text_info_description span {
	color: #f26c4f;
}
.data_likes {
	padding: 15px 0 0 25px;
    color: rgb(162, 162, 162);
    font-weight: bold;
    float: left;
}
.do_like {
	float: right;
	margin: 15px 25px 0 0;
}
.do_like p {
	display: inline-block;
	color: rgb(162, 162, 162);
    font-weight: bold;
    padding-right: 5px;
}
.text_box2 {
	width: 620px;
    height: 613px;
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	float: left;
	margin-top: 25px;
}
.text_box2_foto {
	height: 305px;
	background: url(../img/image5.png) no-repeat;
	background-position: 100% 100%;
	position: relative;
}
.text_box2_foto .add {
	background: #363339;
	width: 30px;
	height: 30px;
	float: left;
}
.slader {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.text_box2_foto .add a {
	color: #fff;
	font-size: 26px;
	text-decoration: none;
	padding-left: 8px;
}
.text_box2_foto .next {
	background: #f26c4f;
	width: 30px;
	height: 30px;
	float: left;
}
.text_box2_foto .next a {
	color: #fff;
    font-family: "Quicksand";
    font-size: 20px;
    padding-top: 4px;
    font-size: 22px;
    padding-left: 12px;
    text-decoration: none;
}
.text_box2 .text {
	margin: 30px 33px 30px 50px;
}
.box_title_description {
	font-size: 14px;
	color: rgb(148, 148, 148);
    font-weight: bold;
    line-height: 1.786;
}
.text_box2 .text .box_title {
	padding-bottom: 15px;
}
.text_box3 .text3 .box_title {
	padding-bottom: 22px;
}
.text_box3 {
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.004);
	width: 620px;
    height: 482px;
    float: left;
    margin-top: 15px;
}
.text_box3 .text3 {
	margin: 55px 10px 30px 50px;
}
.page_posts {
	background: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.1);
	width: 300px;
    height: 44px;
    float: right;
    margin-top: 6px;
    border-left: 4px solid #d9d9d9;
}
.page_posts:first-child {
	margin-top: 15px;
}
.page_posts .name {
	font-size: 16px;
	color: rgb(71, 71, 71);
    font-weight: bold;
    padding-top: 13px;
    padding-left: 20px;
}
.page_posts span {
	font-size: 12px;
    font-family: "Arial";
    color: rgb(167, 167, 167);
    font-weight: normal;
    padding-left: 10px;
}
.stats {
	float: right;
	width: 300px;
	margin-top: 45px;
}
.stats .number {
	font-size: 48px;
	color: rgb(71, 71, 71);
    line-height: 0.5;
    font-weight: 600;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
    padding-left: 14px;
    float: left;
}