html, body {
    margin: 0px;
    padding: 0px;
}
body {
	font-family: "Open Sans",Helvetica,"Segoe UI",Georgia,Arial,sans-serif;
	font-size: 14px;
}
ul {
	padding: 0;
	margin: 0;
}
a {
	outline: none;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	background: #ccc;
	background: url(../img/library2.jpg) no-repeat center;
	height: 768px;
}
.header {
	width: 100%;
	height: 100px;
	background: #971b35;
	background: url(../img/fon39.jpg) no-repeat;
}
.left_box {
	width: 30%;
	float: left;
}
.nav {
	background-color: rgba(51, 51, 51, 0.7);
}
.content {
	width: 70%;
	float: left;
}
.info_box{
	background: #fdd5b1;
}
.footer {
	width: 100%;
	height: 50px;
	background: #333;
	background: url(../img/fon39.jpg) no-repeat;
	float: left;
}
.header .title {
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	margin: 0;
}
.header_text {
	padding: 15px 10px 0 10px;
	text-align: center;
}
.nav .title, .content .title, .info_box .title {
	font-weight: 600;
	font-size: 17px;
	color: #fff;
	padding: 20px;
	margin: 0;
}
.content .description {
	color: #fff;
}
.info_box .title, .info_box .description {
	color: #333;
}
.in_nav {
	z-index: 100;
}
.nav .description {
	color: #fff;
	padding: 0 20px 20px 20px;
	margin: 0;
}
.content .description, .info_box .description {
	padding: 0 20px 15px 20px;
	margin: 0;
}
.content_img {
	width: 50%;
	margin: 10px auto;
}
img {
	width: 100%;
}
.copyright p{
	color: #fff;
	text-align: center;
}
.menu {
	text-align: center;
}
.menu li {
	display: inline-block;
	list-style: none;
	padding: 10px;
}
.menu li a {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	display: block;
	padding: 10px;
}
.menu li a:hover, .menu li a:active {
	background: #fff;
	color: #333;
}